<br />
<br />

    <div style="border:1px solid black; width:400px; margin:0 auto;  
    z-index: 1;  box-shadow: 0 0 5px #bbb;align-content:center;text-align:center; font-weight:bold; padding:10px;">
        <br />
        <br />
        <p>By submitting the application you will not be able to make any changes.</p>
        <h4>Are you sure?</h4>
        <br />
        <br />

        <a href="/Applications/SubmitApplication"> <input type="submit" class="btn btn-primary" value="Confirm" /></a>
        <a href="/Applications/Index"><input type="submit" class="btn btn-primary" value="Cancel" /></a>
        <br />
        <br />

    </div>
   


@*<div>
        <div class="col-md-offset-2 col-md-10">
            <a href="/Applications/SubmitApplication"> <input type="submit" class="btn btn-primary" value="Confirm" /></a>
            <a href="/home"><input type="submit" class="btn btn-primary" value="Cancel" /></a>

        </div>
    </div>*@