<br />
<br />
<div class="alert alert-primary" role="alert"><h4>
    <strong>Your Application submitted Successfully. You cannot make any changes anymore.</strong>
</h4>
</div>
<a href="/Applications/Index">Click to Continue</a>
